#c{
    border: 2px solid black;
    width: 365px;
    height: 475px;
    margin-top: 60px;
    margin-left: 490px;
    display: flex;
    flex-direction: column;
    background-image: url(./image/pexels-photo-1486974.jpeg);
 }
 #c1{
    border: 2px solid black;
    width: 325px;
    height: 60px;
    margin-top: 10px;
    margin-left: 18px;
    display: flex;
    justify-content: end;
    background-color: white;
    font-size: 40px;
 }
 h1{
    width: 400px;
    border: 2px solid white;
 }
 #h{
    
    width: 340px;
    height: 380px;
    margin-top: 12px;
    margin-left: 15px;
    justify-content:space-evenly;   
 }
 #h1{
    
    width: 322px;
    height: 60px;
    margin-top: 10px;
    margin-left: 6px;
    justify-content:space-evenly;   
    
 }
 #h2{
    
    width: 322px;
    height: 60px;
    margin-top: 10px;
    margin-left: 6px;
    justify-content:space-evenly;  
 }
 #h3{

    width: 322px;
    height: 60px;
    margin-top: 10px;
    margin-left: 6px;
    justify-content:space-evenly;  
 }
 #h4{

    width: 322px;
    height: 60px;
    margin-top: 10px;
    margin-left: 6px;
    justify-content:space-evenly;  
 }
 #h5{

    width: 322px;
    height: 60px;
    margin-top: 10px;
    margin-left: 6px;
    justify-content:space-evenly;
 }
 #o,#t,#th,#fo,#fi,#si,#se,#ei,#ni,#ten,#ele,#twe,#thi,#fou,#fif,#six,#sev,#eig
 {
    width: 75px;
    height: 52px;
    margin-top: 4px;
    margin-left: 2px;
    justify-content: space-evenly;
    font-size: x-large;
    color: black;
    background-color: rgb(69, 200, 233);
 }
 #sev,#eig
 {
    width: 155px;
 }
 body{
    background-color: pink;
 }